@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  height: 100vh;
  font-family: 'Josefin Sans';
  background: linear-gradient(to right, #1d095f 0%, #4e2672 100%);
}

.header__squares span {
  position: absolute;
  height: 190px;
  opacity: 0.2;
  transform: skewY(140deg);
}

.header__squares :first-child {
  width: 20%;
  top: 20%;
  right: 5%;
  background: #a80aa7;
}

.header__squares :nth-child(2) {
  width: 20%;
  top: 40%;
  right: 10%;
  background: #8732a1;
}

.header__squares :nth-child(3) {
  width: 20%;
  top: 57%;
  right: 15%;
  background: #a80aa7;
}

.header__squares :nth-child(6) {
  width: 20%;
  top: 20%;
  right: 0%;
  background: #8732a1;
}

.header__squares :nth-child(7) {
  width: 20%;
  top: 40%;
  right: 5%;
  background: #8732a1;
}

.header__squares :nth-child(8) {
  width: 20%;
  top: 57%;
  right: 10%;
  background: #a80aa7;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Loader.css */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ffffff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
